.Message-wrapper {
    min-width: 80px;
    min-height: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: inline-block;
    margin: 0 0 10px 0;
}

.Message-author {
    font-size: 12px;
    text-align: start;
    margin: 0;
    color: #598eff;
}

.Message-text {
    margin: 5px 0 0 0;
}